{% extends 'flatpages/default.html' %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.content }}</h2>
    <hr>
    <p style="text-align: center;">Опять ты охаешь, мол, мир уже не тот.<br> И в каждом ангеле пол демона живёт.</p>
    <p style="text-align: center;"><strong>И в собеседнике не ясно, кто есть кто,<br> Кто друг, кто враг, как будто всё в одно.</strong></p>
    <p style="text-align: center;"><span style="text-decoration: underline;"><em>Поверь, мир для всего всегда един, <br>И он таков, как видеть мы хотим.</em></span></p>
{% endblock content %}